/** BRANDING COLORS
 * primary (default pink): sidebar color, admitted dashboard status
 * secondary (default purple): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default blue): waitlist/declined dashboard status
 */

$primary: #bb0000;
$secondary: #a0a0a0;
$tertiary: #4c82cc;

/** ASSET URLS
 * login-bg: image for login splash page
 */

$login-bg: url('../assets/images/login-background.jpg');
